<!doctype html>
<html ng-app="app" >
<head>
  <meta charset="utf-8">
  <title>Maya - Virtual Director</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>
  <script src="app.js"></script>
</head>
<body>
    <div id="header" ng-controller="DummyController">
        <a href="#default" class="logo">{{message}}</a>
        <div id="header-right">
                <a>Home</a>
                <a>About</a>
        </div>
    </div>
<!--	<nav class="{{active}}" ng-click="$event.preventDefault()">
	<!-- logo 
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="pwc.jpg">
        </a>
      </div> -->
	 <!-- <img src="pwc.jpg" height="75" width="75"> </img>
		<a href="#" class="home" ng-click="active='home'">Home</a>
		<a href="#" class="about" ng-click="active='about'">About</a>
		<a href="#" class="walkthrough" ng-click="active='contact'">Walk Through</a>
	</nav> -->
	<br/>
	<iframe src="testvid.mp4" id="video1" height="512" align="left"> 
	</iframe>
	<iframe src="Documentation.txt" id="doc1" height="512" align="right"> 
	</iframe> 
	<div ng-controller="myCtrl">
    <button ng-click="#">START</button>
	<button ng-click="#">DEMO </button>
	</div> 

  </div>
</body>
</html>
