<!doctype html>
<html ng-app="app" >
<head>
  <meta charset="utf-8">
  <title>Maya - Digital Director</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>
  <script src="app.js"></script>
</head>
<body>
    <div id="header" ng-controller="DummyController">
	    <img id ="logo" src="PwC_icon.png"> </img>
        <div id="header-right">
                <a>Home</a>
                <a>About</a>
				<a> Walk Through </a>
        </div>
    </div>
	<br/>
	<div id="iframes">
	<table>
		<tr>
			<th><iframe src="testvid.mp4" id="video1" >	</iframe></th>		
			<th style="padding: 10px;"></th>		
			<th><iframe src="ABOUT.md" id="doc1"></iframe> </th>
		</tr>
	</table>
	</div>	
	<div id="buttonholder">
    <button ng-click="#upload.htm">START</button>
	<button ng-click="#">DEMO </button>
	</div> 

  </div>
</body>
</html>
